<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div class="topnav">
  <div class="search-container">
    <form action="/artist-search", method="GET" >
      <input type="text" placeholder="Search.." name="search">
      <button type="submit">Submit <i class="fa fa-search"></i></button>
    </form>
  </div>
</div>


 

</body>
</html>
